[class^="col-"] {
    color: white;
}

.card {
    background-color: blue;
}

.container{
    padding: 1rem 0;
}

[class^="col-"]{
    padding: 1px;
    font-size: .9rem;
}

.card{
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
}

.green {
    background-color: rgb(8, 228, 0);
}